h1 {
  color:aqua;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: black;
}

body {
  background-color: gray;
}
p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  color: red;
}
li {
  font-family: 'Roboto', sans-serif;
  color:darkorange;
}
.nav {
  background-color:black;
  overflow:hidden;
}
.nav a {
  float:left;
  color:blue;
  text-align: center;
  text-decoration: none;
  font-size:20px;
  padding: 14px 16px;
  font-family: 'Roboto', sans-serif;
}
.nav a:hover {
  background-color: darkslategray;
  color:back;
}
#test {
  color:darkviolet;
  font-size:30px;
}
a {
  text-align: center;
  text-decoration: none;
}